<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="config.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: none;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        #result {
            background-color: #ddd;
            padding: 20px;
            margin-bottom: 20px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="result"></div>

    <table>
        <tr>
            <td>房间 ID</td>
            <td><span id="roomId"></span></td>
        </tr>
        <tr>
            <td>用户 ID</td>
            <td><span id="idNumber"></span></td>
        </tr>
        <tr>
            <td>消耗能量</td>
            <td><span id="energy"></span></td>
        </tr>
        <tr>
            <td>需付金额</td>
            <td><span id="cost"></span></td>
        </tr>
        <tr>
            <td>当前温度</td>
            <td><span id="temperature"></span>°C</td>
        </tr>
    </table>
    <p>输入目标温度：
        <input type="number" id="targetTemperature" min="18" max="30">°C
        <button id="setTemperature">设置</button>
        设置风速：
        <select id="fanSpeed">
            <option value="low">低</option>
            <option value="medium">中</option>
            <option value="high">高</option>
        </select>
        <button id="setFanSpeed">设置</button>
    </p>
    <div>温控开启状态: <span id="isService"></span></div>
    <div>正在送风状态: <span id="isWorking"></span></div>
    <p>
        <button id="start">开启温控</button>
        <button id="stop">关闭温控</button>
        <button id="offButton">关闭从控机</button>
    </p>
</div>
<script>
    $(document).ready(function() {
        // 从 localStorage 中获取数据
        var mode = localStorage.getItem('mode');
        var defaultTemperature = localStorage.getItem('defaultTemperature');
        var defaultFanSpeed = localStorage.getItem('defaultFanSpeed');
        var defaultFrequency = localStorage.getItem('defaultFrequency');
        var roomID = localStorage.getItem('roomID');
        var idNumber = localStorage.getItem('idNumber');

        // 显示工作模式和缺省工作温度
        var resultHTML = '<table>' +
            '<tr><td>工作模式</td><td>' + mode + '</td><td>缺省工作温度</td><td>' + defaultTemperature + '°C</td></tr>' +
            '<tr><td>缺省风速</td><td>' + defaultFanSpeed + '</td><td>默认每分钟更新</td><td>' + defaultFrequency + '次</td></tr>' +
            '</table>';
        $('#result').html(resultHTML);
        $('#roomId').text(roomID);
        $('#idNumber').text(idNumber);
    });
    $(document).ready(function() {
        // 每隔5秒获取一次最新的温度
        setInterval(function() {
            $.ajax({
                url: '/sac/temperature',
                type: 'GET',
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    // 更新界面上的温度显示
                    $('#temperature').text(data);
                }
            });
        }, 5000);
    });

    $(document).ready(function() {
        var timeoutId = null;  // 用于存储 setTimeout 返回的 ID

        // 当用户点击设置按钮时，发送一个请求到服务器，设置目标温度
        $('#setTemperature').click(function() {
            var targetTemperature = $('#targetTemperature').val();

            // 如果之前已经设置了一个延迟，那么取消它
            if (timeoutId) {
                clearTimeout(timeoutId);
            }

            // 设置一个新的延迟，1秒后发送请求
            timeoutId = setTimeout(function() {
                $.ajax({
                    url: '/sac/setTemperature',
                    type: 'POST',
                    data: JSON.stringify({ 'targetTemperature': targetTemperature }),
                    contentType: 'application/json',  // 设置 Content-Type 为 application/json
                    success: function(data) {
                        alert(data);  // 显示服务器的响应
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);  // 显示错误信息
                    }
                });
            }, 1000);
        });
    });

    $(document).ready(function() {
        // 当用户点击设置风速按钮时，发送一个请求到服务器，设置风速
        $('#setFanSpeed').click(function() {
            var fanSpeed = $('#fanSpeed').val();
            $.ajax({
                url: '/sac/setFanSpeed',
                type: 'POST',
                data: JSON.stringify({ 'fanSpeed': fanSpeed }),
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    alert('请求风速已设置为 ' + fanSpeed);
                }
            });
        });
    });

    $(document).ready(function() {
        // 当用户点击开启按钮时，发送一个请求到服务器，开启温控
        $('#start').click(function() {
            $.ajax({
                url: '/sac/start',
                type: 'POST',
                data : JSON.stringify({ 'isService': true }),
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    alert('温控已开启');
                }
            });

            $.ajax({
                url: '/sac/request',
                type: 'POST',
                data : JSON.stringify({ 'type': 'start' }),
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    // 处理响应
                }
            });
        });
    });

    $(document).ready(function() {
        // 当用户点击关闭按钮时，发送一个请求到服务器，关闭温控
        $('#stop').click(function() {
            $.ajax({
                url: '/sac/stop',
                type: 'POST',
                data : JSON.stringify({ 'isService': false }),
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    alert('温控已关闭');
                }
            });
        });
    });

    $(document).ready(function() {
        // 每隔5秒获取一次最新的温度
        setInterval(function() {
            $.ajax({
                url: '/sac/status',
                type: 'GET',
                contentType: 'application/json',  // 设置 Content-Type 为 application/json
                success: function(data) {
                    // 更新界面上的温度显示
                    $('#energy').text(data.energy);
                    $('#cost').text(data.cost);
                    // 更新温控开启状态和正在送风状态
                    $('#isService').text(data.isService ? "开启" : "关闭");
                    $('#isWorking').text(data.isWorking ? "正在送风" : "停止送风");
                }
            });
        }, 5000);
    });
    document.getElementById('offButton').addEventListener('click', function() {
        fetch('/sac/off', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                window.location.href = '/';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>